.App {
    text-align: center;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  #mainContainer {
      display: flex;
      flex-direction: row;
  }

  #leftContainer {
      display: flex;
      flex-direction: column;
      padding: 3rem;
  }

  h1 {
      padding-left: 2rem;
  }

  h2 {
      padding-left: 1rem;
  }
  #rightContainer {
      display: flex;
      flex-direction: column;
      padding: 3rem;
  }

  ul{
      padding: 0;
  }

