.member-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .4rem;
    width: 20rem;
    /* border: 1px solid blue; */
}