.hidden {
    display: none;
}

.task-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .4rem;
    width: 30rem;
    /* border: 1px solid blue; */
}

.upper-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.complete-container {
    display: flex;
    align-items: center;
}

.task-container {
    display: flex;
}
.title-description-container{
    display: flex;
    flex-direction: column;
}
.lower-container {
    display: flex;
    /* border: 1px solid pink; */
}
.button-container {
    /* border: 1px solid yellowgreen; */
    display: flex;
    align-items: center;
}

input {
    padding: .4rem;
    border-radius: .4rem;
}

.button {
    padding: .4rem;
    border-radius: .4rem;
}

p{
    line-height: .2rem;
}
